<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssh1y.paperrec.mapper.RatingsMapper">

    <resultMap id="BaseResultMap" type="com.ssh1y.paperrec.entity.Ratings">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="recommendationid" column="RecommendationID" jdbcType="INTEGER"/>
            <result property="ratinguserid" column="RatingUserID" jdbcType="INTEGER"/>
            <result property="ratedpaperid" column="RatedPaperID" jdbcType="INTEGER"/>
            <result property="ratings" column="Rating" jdbcType="INTEGER"/>
            <result property="timestamp" column="Timestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,RecommendationID,RatingUserID,
        RatedPaperID,Rating,Timestamp
    </sql>
</mapper>
