<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssh1y.paperrec.mapper.RelatednessMapper">

    <resultMap id="BaseResultMap" type="com.ssh1y.paperrec.entity.Relatedness">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="paperid" column="PaperID" jdbcType="INTEGER"/>
            <result property="relatedpaperid" column="RelatedPaperID" jdbcType="INTEGER"/>
            <result property="relatedness" column="Relatedness" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,PaperID,RelatedPaperID,
        Relatedness
    </sql>
</mapper>
